@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.product-listing {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.top-banner {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 8px 20px;
  color: #eb4c6b;
  font: 400 12px/1 "Inter", sans-serif;
  letter-spacing: 1px;
}

.banner-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 767px) {
  .banner-item-1,
  .banner-item-3 {
    display: none;
  }

  .top-banner {
    justify-content: center;
  }
}

.banner-icon {
  width: 16px;
  height: 16px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 30px 80px;
  letter-spacing: 1px;
}

.sm-heder-btm {
  padding: 15px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.sm-heder-btm .sm-heder-btm-left {
  color: #cacaca;
}

@media (min-width: 991px) {
  .sm-heder-btm {
    display: none;
  }
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
    padding: 10px 5px;
  }
}

.header-content {
  display: flex;
  width: 100%;
  max-width: 1248px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .header-content {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.header {
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.logo-container {
  flex: 1;
}

.logo-text-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo-text {
  font-weight: bold;
  font-size: 1.5rem;
}

.logo-text {
  color: #000;
  font: 800 36px/1 Inter, sans-serif;
}

@media (max-width: 991px) {
  .logo-text {
    font-size: 1.5rem;
  }
}

.header-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: #252020;
  font: 700 16px/1 "Inter", sans-serif;
  cursor: pointer;
}

.header-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .header-icons {
    gap: 16px;
  }
  .header-icon,
  .logo-icon {
    width: 22px;
    height: 22px;
  }
}
@media (min-width: 991px) {
  .hamburger-icon {
    display: none;
  }
}
.language-selector {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.language-selector span {
  margin-right: 5px;
}
.nav-menu {
  display: flex;
  margin-top: 60px;
  align-items: start;
  gap: 64px;
  color: #252020;
  font: 700 20px/1 "Inter", sans-serif;
  flex-wrap: wrap;
}

.nav-item {
  text-decoration: none;
  color: #252020;
}

@media (max-width: 991px) {
  .nav-menu {
    display: none;
  }
}

.main-content {
  display: flex;
  margin-top: 72px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0 80px;
}

@media (max-width: 991px) {
  .main-content {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.page-title {
  color: #252020;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font: 400 60px/1 "Inter", sans-serif;
}

@media (max-width: 991px) {
  .page-title {
    max-width: 100%;
    font-size: 20px;
    font-weight: 700;
  }
}

.page-description {
  color: #252020;
  text-align: center;
  margin-top: 16px;
  max-width: 721px;
  font: 400 22px/40px;
}

@media (max-width: 991px) {
  .page-description {
    max-width: 100%;
    font: 400 14px/40px;
  }
}

.content-divider {
  margin-top: 71px;
  width: 100%;
  max-width: 1248px;
  height: 1px;
  background-color: #e5e5e5;
}

@media (max-width: 991px) {
  .content-divider {
    margin-top: 40px;
  }
}

.product-filter {
  background-color: #fff;
  width: 100%;
  max-width: 1248px;
  padding-top: 24px;
  line-height: 40px;
}

.sm-product-filter {
  background-color: #fff;
  width: 100%;
  max-width: 1248px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.sm-product-filter-header {
  flex: 1;
  color: #252020;
  text-transform: uppercase;
  font: 700 12px/1 "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .product-filter {
    display: none;
  }
}

@media (min-width: 991px) {
  .sm-product-filter {
    display: none;
  }
}

.filter-header {
  display: flex;
  margin-right: 36px;
  width: 100%;
  max-width: 1212px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .filter-header {
    max-width: 100%;
    margin-right: 10px;
  }
}

.item-count {
  color: #252020;
  text-transform: uppercase;
  font: 700 18px/1 "Inter", sans-serif;
}

.filter-toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #888792;
  cursor: pointer;
  background: none;
  border: none;
}

.filter-header-left {
  display: flex;
  align-items: center;
  gap: 100px;
}

.filter-toggle-text {
  text-decoration: underline;
}

.sort-selector {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  color: #252020;
  text-transform: uppercase;
  font: 700 18px/1 "Inter", sans-serif;
  position: relative;
}

.sort-selector-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  cursor: pointer;
}

.sort-selector-modal {
  position: absolute;
  top: 50px; /* Position it below the trigger element */
  right: 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 240px;
  padding: 20px;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  gap: 10px;
}

.sort-option {
  padding: 12px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-weight: lighter;
  font-size: medium;
  display: flex;
  align-items: center;
}

.sort-option.selected {
  font-weight: bold;
  display: flex;
  gap: 8px;
  align-items: center;
}

.filter-divider-line {
  width: 0;
  height: 30px;
  border: 1px solid #e5e5e5;
}

.filter-divider {
  margin-top: 23px;
  height: 1px;
  background-color: #e5e5e5;
}

.sm-filter-divider {
  margin-top: 23px;
  height: 1px;
  background-color: #e5e5e5;
}

@media (max-width: 991px) {
  .sort-selector-modal {
    padding: 10px;
    width: 200px;
  }

  .sort-option.selected .header-icon {
    width: 16px;
    height: 16px;
  }

  .sort-option {
    font-size: small;
  }

  .filter-divider {
    max-width: 100%;
  }

  .sort-selector {
    justify-content: center;
    font: 700 12px/1 "Inter", sans-serif;
  }
}

.product-grid {
  display: flex;
  margin-top: 32px;
  width: 100%;
  max-width: 1248px;
  gap: 30px;
}

@media (max-width: 991px) {
  .product-grid {
    max-width: 100%;
    flex-direction: column;
  }
}

.filter-sidebar {
  width: 300px;
}

@media (max-width: 991px) {
  .filter-sidebar {
    display: none;
  }
}

.filter-section {
  display: flex;
  flex-direction: column;
  color: #252020;
  font: 18px/1 "Inter", sans-serif;
}

@media (max-width: 991px) {
  .filter-section {
    margin-top: 16px;
  }
}

.filter-option {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  text-transform: uppercase;
}

.filter-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #4d4d4d;
  background-color: #fff;
}

.filter-label {
  flex-grow: 1;
  font-size: small;
}

.filter-separator {
  height: 1px;
  margin-top: 24px;
  width: 100%;
  max-width: 300px;
  background-color: #e5e5e5;
}

.filter-group {
  margin-top: 24px;
}

.filter-group .all {
  margin-top: 10px;
}

.filter-group-header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.filter-group-toggle {
  cursor: pointer;
}

.filter-group-options {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.unselect-all {
  color: #bfc8cd;
  cursor: pointer;
  text-decoration: underline;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
}

@media (max-width: 830px) {
  .product-list {
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.product-image {
  position: relative;
  aspect-ratio: 0.75;
  width: 100%;
}

.image-opacity-low {
  opacity: 0.5;
}

.product-tag {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 10px;
}

.product-tag-stock-out {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 25px;
  width: 100%;
  text-align: center;
}

@media (max-width: 830px) {
  .product-tag-stock-out {
    font-size: 14px;
    padding: 20px;
  }
}

.product-info {
  padding-top: 16px;
}

.product-title {
  color: #252020;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  color: #888792;
  font-size: 14px;
  margin-top: 8px;
}

.product-price span {
  text-decoration: underline;
  cursor: pointer;
}

.product-info-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: space-between;
}

.product-rating {
  margin-top: 8px;
  cursor: pointer;
}

.newsletter-section {
  background-color: #000;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 79px 80px 25px;
  margin-top: 48px;
}

@media (max-width: 991px) {
  .newsletter-section {
    max-width: 100%;
    margin-top: 40px;
    padding: 40px 20px 25px;
  }
}

.newsletter-content {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

@media (max-width: 991px) {
  .newsletter-content {
    flex-direction: column;
  }
}

.newsletter-form {
  width: 57%;
}

@media (max-width: 991px) {
  .newsletter-form {
    width: 100%;
    margin-top: 40px;
  }
}

.newsletter-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-description {
  color: #fff;
  font-size: 16px;
  margin-top: 24px;
}

.newsletter-input-group {
  display: flex;
  margin-top: 51px;
  width: 100%;
  gap: 16px;
}

@media (max-width: 991px) {
  .newsletter-input-group {
    margin-top: 24px;
    flex-direction: column;
    gap: 10px;
  }
}

.newsletter-input {
  flex-grow: 1;
  background-color: #fff;
  color: #bfc8cd;
  font-size: 18px;
  padding: 13px;
  border: none;
}

.newsletter-submit {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  opacity: 0.3;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 13px 24px;
  cursor: pointer;
  flex-shrink: 0;
}

@media (max-width: 991px) {
  .newsletter-submit {
    width: 100%;
    text-align: center;
  }
}

.contact-info {
  width: 43%;
  color: #fff;
}

@media (max-width: 991px) {
  .contact-info {
    display: none;
  }
}

.sm-call-us {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: #fff;
  padding-top: 20px;
}

.sm-call-us-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sm-call-us-text {
  font-size: small;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sm-brand {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-top: 20px;
}

@media (min-width: 991px) {
  .sm-call-us {
    display: none;
  }
  .footer-divider-sm-call-us {
    display: none;
  }

  .sm-brand {
    display: none;
  }
}

.contact-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-details {
  margin-top: 16px;
  font-size: 16px;
}

.currency-selector {
  margin-top: 24px;
}

.lg-currency-selector {
  margin-top: 10px;
}

.currency-note {
  font-size: 12px;
  margin-top: 16px;
}

.footer-divider {
  width: 100%;
  max-width: 1248px;
  height: 1px;
  background-color: #fff;
  margin-top: 25px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  margin-top: 56px;
}

@media (max-width: 991px) {
  .footer-links {
    flex-direction: column;
    margin-top: 0px;
  }
}

.footer-brand {
  width: 18%;
  flex: 1;
}

@media (max-width: 991px) {
  .footer-brand {
    width: 100%;
    margin-top: 40px;
  }
}

.footer-brand-name {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  font-size: 18px;
  color: #fff;
}

.footer-nav-item {
  margin-top: 16px;
  text-decoration: none;
  color: #fff;
}

.footer-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-main-wrapper {
  display: flex;
  width: 100%;
  gap: 24px;
}

.footer-copyright-wrapper {
  width: 100%;
}

@media (max-width: 991px) {
  .footer-main {
    width: 100%;
    flex-direction: column;
    margin-top: 40px;
  }
}

.footer-links-column {
  width: 50%;
  flex: 1;
}

@media (max-width: 991px) {
  .footer-links-column {
    width: 100%;
    margin-top: 21px;
  }
}

.footer-links-title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .footer-links-title {
    display: no;
  }
}

.footer-links-list {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  font-size: 18px;
  color: #fff;
}

.footer-links-item {
  margin-top: 16px;
  text-decoration: none;
  color: #fff;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  color: #fff;
  margin-top: 37px;
}

.footer-social {
  width: 50%;
  flex: 1;
}

.social-links {
  display: flex;
  margin-top: 24px;
  gap: 12px;
}

@media (max-width: 991px) {
  .footer-links-title {
    display: none;
  }

  .footer-social {
    width: 100%;
    margin-top: 21px;
  }

  .social-links {
    display: none;
  }

  .footer-links-column {
    display: none;
  }

  .footer-brand {
    display: none;
  }
}

.social-icon {
  width: 32px;
  height: 32px;
}

.payment-methods {
  margin-top: 56px;
}

@media (max-width: 991px) {
  .payment-methods {
    margin-top: 0px;
  }
}

.payment-methods-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.payment-icons {
  display: flex;
  margin-top: 16px;
  gap: 8px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.payment-icon {
  object-fit: contain;
}

@media (max-width: 991px) {
  .sm-display-none {
    display: none;
  }
}

.display-none {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
